.button {
  background-color: rgb(194, 13, 13);
  color: wheat;
  padding: 16px 30px;
  text-align: center;
  font-size: 24px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}
